<style lang="scss" scoped>
.contacts-items {
    .image.is-round {
        border-radius: 50px;
        overflow: hidden;
    }
    td {
        vertical-align: middle;
    }
}
</style>

<template>
    <tr class="contacts-items">
        <td>
            <div class="media">
                <figure class="media-left">
                    <p class="image is-64x64 is-round">
                        <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p><strong>{{ contact.name }}</strong></p>
                        <p class="is-small" v-for="(email, i) in contact.emails" v-bind:key="i">{{ email }}</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            {{ contact.job_title }}
        </td>
        <td>
            <p v-for="(phone, i) in contact.phones" v-bind:key="i">{{ phone.display_number }}</p>
        </td>
        <td>
            {{ contact.address.street }} <br>
            {{ contact.address.city }} {{ contact.address.state }} {{ contact.address.postal }} {{ contact.address.country }}
        </td>
        <td v-if="!contact.name.includes('No results found')">
            <router-link :to="{ name: 'contact', params: { id: contact.id } }" class="button">
                 <span class="icon is-small">
                    <i class="fas fa-edit"></i>
                </span>
            </router-link>

            <button class="button" @click='handleDelete'>
                <span class="icon is-small">
                    <i class="fas fa-trash"></i>
                </span>
            </button>
        </td>
    </tr>
</template>

<script>
import { contactDeleteMixins } from '@/components/dashboard/contacts/contacts-delete-mixins';

export default {
    // No props validation... Sorry!
    props: ['contact'],

    mixins: [contactDeleteMixins]
};
</script>
