<style lang="scss" scoped>
#contact-list {
    td {
        vertical-align: middle;
    }
}
</style>


<template>
    <section class="section no-padding-top table-container">
        <table class="table is-fullwidth" id="contact-list">
            <thead>
                <tr>
                    <th>Basic Info</th>
                    <th>Job Title</th>
                    <th>Phone Number(s)</th>
                    <th>Address</th>
                    <th>  </th>
                </tr>
            </thead>
            <tbody v-if="$store.state.searchedContacts.length">
                <contacts-item 
                v-for='(item, index) in $store.state.searchedContacts' 
                v-bind:key="index"
                :contact = item></contacts-item>
            </tbody>
            <tbody v-else-if="!$store.state.searchedContacts.length && $store.state.query">
                <contacts-item 
                :contact=emptyContact></contacts-item>
            </tbody>
            <tbody v-else>
                <contacts-item 
                v-for='(item, index) in $store.state.contacts' 
                v-bind:key="index"
                :contact = item></contacts-item>
            </tbody>
        </table>
    </section>
</template>

<script>
import { ContactsService } from '@/core/services/contacts-service';

export default {
    components: {
        contactsItem: require('./contacts-item').default
    },

    data() {
        return {
            emptyContact: ContactsService.getEmptyContact()
        };
    }
};
</script>
