/**
    Mixins on colors.
*/

@import '../variables';
.has-color {
  &-red {
    color: $red;
  }
  &-dark-gray {
    color: $dark-gray;
  }
  &-white {
    color: #fff;
  }
  &-blue {
    color: $blue;
  }
}
