/**
    Custom elements related styling.
*/

@import '../variables';
.is-small {
  font-size: ($font-size-default * 0.85)
}

.title,
.subtitle,
.title *,
.subtitle * {
  &.is-serif {
    font-family: $font-family-serif;
  }
  &.is-thin {
    font-weight: 400;
  }
  &.is-bold {
    font-weight: 700;
  }
  &.is-white {
    color: #fff;
  }
}

hr {
  height: 1px;
  &.is-vertical {
    border: none;
    border-left: 1px solid whitesmoke;
    height: 5vh;
    width: 1px;
    &.is-centered {
      margin: 0 auto;
      display: block;
    }
    &.is-short {
      height: 3vh;
    }
    &.is-long {
      height: 10vh;
    }
    &.is-bold {
      width: 5px;
    }
  }
}

form {
  .label {
    font-size: 11px;
    line-height: $line-height-base;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: $dark-gray;
    display: block;
    margin-bottom: 3px;
    text-align: left;
  }
  * {
    border-radius: 0 !important;
  }
  .input {
    font-size: $font-size-default-form;
    line-height: 22.652px;
    height: 45px;
    box-sizing: border-box;
    padding: 7px;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    outline: none;
    &:hover,
    &.is-hovered,
    .textarea:hover,
    .textarea.is-hovered {
      border-color: #dbdbdb; // This is to specifically override Bulma styling.
    }
    &:focus {
      border-color: $dark-gray;
      box-shadow: none;
    }
  }
}

.button {
  &.is-primary {
    border: none;
    color: #fff;
    background: $blue;
    &:hover,
    &:active,
    &:focus {
      background: darken($blue, 5%);
    }
  }
  &.is-fluid {
    width: 100%;
  }
  &.is-link {
    border: none;
    background: none;
    color: $dark-gray;
    &:hover,
    &:focus,
    &:active {
      color: darken($color: $dark-gray, $amount: 20%);
    }
  }
}

.hero {
  &.is-primary {
    background: $blue;
  }
}

.card {
  border-radius: 5px;
  margin-bottom: 25px;
  overflow: hidden;
  box-shadow: 0 5px 25px 0 rgba(42, 51, 83, 0.12), 0 5px 15px rgba(0, 0, 0, 0.06);
  transition: all 0.15s ease;
  &:hover,
  &:focus,
  &:active {
    transform: translateY(-2px);
    box-shadow: 0 18px 25px 0 rgba(42, 51, 83, 0.12), 0 8px 15px rgba(0, 0, 0, 0.06);
  }
  .image.is-round {
    border-radius: 50px;
    overflow: hidden;
  }
}
