/**
    Mixins on element positioning.
*/
.no {
    &-padding {
      padding: 0;
  
      &-top {
        padding-top: 0;
      }
  
      &-bottom {
        padding-bottom: 0;
      }
  
      &-left {
        padding-left: 0;
      }
  
      &-right {
        padding-right: 0;
      }
    }
  
    &-margin {
      margin: 0 !important;
  
      &-top {
        margin-top: 0 !important;
      }
  
      &-bottom {
        margin-bottom: 0 !important;
      }
  
      &-left {
        margin-left: 0 !important;
      }
  
      &-right {
        margin-right: 0 !important;
      }
    }
  }


.is-flex {
    display: flex;

    &.has-vertical-alignment {
        align-items: center;
    }
}

.container {
  &.is-narrow {
    max-width: 500px;
  }
}