<template>
    <div class="field">
        <label class="label is-6">Phones</label>
        <div class="control" v-for="(phone, i) in $store.state.currentContact.phones" v-bind:key="i" style="margin: 5px 0;">
            <input class="input" type="text" v-model='$store.state.currentContact.phones[i].display_number'>
        </div>
        <div class="control">
            <input class="input" type="text" placeholder="Add New... (Press Enter to save!)" v-model="input" @keyup.enter="addPhone(input)">
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            input: '',
            localPhones: []
        };
    },

    methods: {
        /**
         * Add phones to a contact profile.
         * Warning: Does not handle form validation! Please don't corrupt my db?
         *
         */
        addPhone(value) {
            // In real life, we wouldn't need to push display_number as the API would return it...
            //  But we're not in real life!
            this.localPhones.push({
                display_number: value,
                number: value
            });
            this.input = '';

            this.$store.commit('setCurrentContact', {
                currentContact: {
                    ...this.$store.state.currentContact,
                    phones: [...this.$store.state.currentContact.phones, ...this.localPhones]
                }
            });
        }
    }
};
</script>
