<style lang="scss" scoped>
form {
    & textarea {
        width: 100%;
        resize: none;
    }
    input,
    input + input {
        margin-bottom: 5px;
    }
}
</style>


<template>
    <transition appear name="slide-fade" mode="out-in">
        <section class="section container is-narrow">
            <div class="level">
                <div class="level-left">
                    <router-link class="is-link has-text-centered" to='/'>Go back</router-link>
                </div>
                <div class="level-right">
                    <button class="button is-info" @click='handleSave'>Save</button>
                </div>
            </div>
            <hr>
            <form class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="https://semantic-ui.com/images/avatar2/large/matthew.png" alt="Profile picture">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <div class="field">
                                <div class="control">
                                    <!-- HACKY way to save the contact name... We should mutate the state instead. -->
                                    <input class="input title is-4" type="text" v-model='$store.state.currentContact.name'> 
                                </div>
                            </div>
                            <hr>
                            <div class="field">
                                <div class="control">
                                    <label class="label is-6">Job Title</label>
                                    <input class="input" type="text" v-model='$store.state.currentContact.job_title'>
                                </div>
                            </div>
                            <hr>
                            <contact-emails></contact-emails>
                            <hr>
                            <contact-phones></contact-phones>
                            <hr>
                            <div class="field">
                                <div class="control">
                                    <label class="label is-6">Address</label>
                                    <input class="input" type="text" v-model='$store.state.currentContact.address.street' placeholder="Street">
                                    <input class="input" type="text" v-model='$store.state.currentContact.address.city' placeholder="City">
                                    <input class="input" type="text" v-model='$store.state.currentContact.address.state' placeholder="State">
                                    <input class="input" type="text" v-model='$store.state.currentContact.address.postal' placeholder="Postal Code">
                                    <input class="input" type="text" v-model='$store.state.currentContact.address.country' placeholder="Country">
                                </div>
                            </div>
                           </div>
                    </div>
                </div>
            </form>
        </section>
    </transition>
</template>


<script>
import { ContactsService } from '@/core/services/contacts-service';

export default {
    components: {
        contactEmails: require('./contact-emails').default,
        contactPhones: require('./contact-phones').default
    },

    mounted() {
        if (this.$route.name === 'contact') {
            this.$store.dispatch('getCurrentContact', { id: this.$route.params.id });
        } else {
            this.$store.commit('setCurrentContact', {
                currentContact: ContactsService.getEmptyContact({ options: { name: 'New contact' } })
            });
        }
    },

    methods: {
        /**
         * Saves the contact depending if it's a new one or an update to an existing one.
         */
        handleSave() {
            // Handle empty email and phones; we'll just delete empty inputs?
            this.$store.state.currentContact.emails = this.$store.state.currentContact.emails.filter(Boolean);
            this.$store.state.currentContact.phones = this.$store.state.currentContact.phones.filter(
                phone => phone.number != '' && phone.display_number != ''
            );

            if (this.$route.name === 'contact') {
                ContactsService.saveContact({ contact: this.$store.state.currentContact }).then(() => {
                    this.$router.push('/');
                });
            } else {
                ContactsService.saveNewContact({ contact: this.$store.state.currentContact }).then(() => {
                    this.$router.push('/');
                });
            }
        }
    }
};
</script>
