<template>
    <div class="field">
        <label class="label is-6">Emails</label>
        <div class="control" v-for="(email, i) in $store.state.currentContact.emails" v-bind:key="i" style="margin: 5px 0;">
            <input class="input" type="email" v-model='$store.state.currentContact.emails[i]'>
        </div>
        <div class="control">
            <input class="input" type="email" placeholder="Add New... (Press Enter to save!)" v-model="input" @keyup.enter="addEmail(input)">
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            input: '',
            localEmails: []
        };
    },

    methods: {
        /**
         * Add emails to a contact profile.
         * Warning: Does not handle form validation! Please don't corrupt my db?
         *
         */
        addEmail(value) {
            this.localEmails.push(value);
            this.input = '';

            this.$store.commit('setCurrentContact', {
                currentContact: {
                    ...this.$store.state.currentContact,
                    emails: [...this.$store.state.currentContact.emails, ...this.localEmails]
                }
            });
        }
    }
};
</script>
