
// Colors
$body-bg: #f5f8fa;
$very-light-gray: #f7f7f8;
$light-gray: #f1f1f1;
$dark-gray: #808284;
$red: #bb8b7d;
$blue: rgb(39, 52, 68);

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-family-serif: 'Source Serif Pro', serif;
$font-size-default: 13px;
$font-size-default-form: 14px;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
