// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
// Mixin imports
@import "variables";
@import "transitions";
// Bulma
@import "~bulma";
a {
  color: $dark-gray;
  &:hover,
  &:focus,
  &:active {
    color: darken($color: $dark-gray, $amount: 20%);
  }
}

html,
body {
  font-size: $font-size-default;
}

@import "utils";
