<template>
    <div class="container">
        <dashboard-header></dashboard-header>
        
        <!-- Render a table if on desktop. -->
        <contacts-table v-if="$mq !== 'mobile'"></contacts-table>
        <!-- Render cards on mobile. -->
        <contacts-mobile v-else></contacts-mobile>
    </div>
</template>

<script>
export default {
    components: {
        dashboardHeader: require('./dashboard-header').default,
        contactsTable: require('./contacts/desktop/contacts-table').default,
        contactsMobile: require('./contacts/mobile/contacts-mobile').default
    },

    mounted() {
        this.$store.dispatch('getContacts');
    }
};
</script>
