<style lang="scss" scoped>
.level-separator {
    margin: 0 15px;
}
</style>

<template>
    <div class="section">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title is-1 is-serif">
                        Contacts
                    </h1>
                </div>
                <div class="level-separator"></div>
                <div class="level-item">
                    <p class="subtitle">
                        {{ $store.state.contacts.length }} total
                    </p>
                </div>
            </div>

            <div class="level-right">
                <div class="level-item">
                    <input class="input" type="text" placeholder="Filter contact..." v-model="search">
                </div>
                <div class="level-item">
                    <router-link :to="{ name: 'newContact'}" class="button is-primary">
                        <span class="icon is-small">
                            <i class="fas fa-user-plus"></i>
                        </span>
                        <span>Add Contact</span>
                    </router-link>
                </div>
            </div>
        </div>
        <hr>
    </div>
</template>
<script>
export default {
    // Two way computed properties.
    computed: {
        search: {
            get() {
                return this.$store.state.query;
            },
            set(query) {
                this.$store.commit('setQuery', {
                    query
                });
                this.$store.dispatch('search');
            }
        }
    }
};
</script>
