<template>
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 is-round">
                        <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">{{ contact.name }}</p>
                    <p class="subtitle is-6 no-margin-bottom" v-for="(email, i) in contact.emails" v-bind:key="i">{{ email }}</p>
                </div>
            </div>

            <div class="content" v-if="!contact.name.includes('No results found')">
                <ul>
                    <li v-for="(phone, i) in contact.phones" v-bind:key="i">{{ phone.display_number }}</li>
                    <li>{{ contact.job_title }}</li>
                    <li>{{ contact.address.street }} <br>
                        {{ contact.address.city }} {{ contact.address.state }} {{ contact.address.postal }} {{ contact.address.country }}
                    </li>
                </ul>
            </div>
        </div>
        <footer class="card-footer" v-if="!contact.name.includes('No results found')">
            <router-link :to="{ name: 'contact', params: { id: contact.id } }" class="card-footer-item">Edit</router-link>
            <span class="card-footer-item" @click="handleDelete" style="cursor: pointer">Delete</span>
        </footer>
    </div>
</template>
<script>
import { contactDeleteMixins } from '@/components/dashboard/contacts/contacts-delete-mixins';

export default {
    // No props validation... Sorry!
    props: ['contact'],

    mixins: [contactDeleteMixins]
};
</script>
