<template>
    <section class="section container is-fluid no-padding-top">
        <div class="content">
            <div class="columns is-centered is-multiline" v-if="$store.state.searchedContacts.length">
                <contacts-cards 
                v-for='(item, index) in $store.state.searchedContacts' 
                v-bind:key="index"
                :contact = item></contacts-cards>
            </div>
            <div class="columns is-centered is-multiline" v-else-if="!$store.state.searchedContacts.length && $store.state.query">
                <contacts-cards
                :contact=emptyContact></contacts-cards>
            </div>
            <div class="columns is-centered is-multiline" v-else>
                <contacts-cards 
                v-for='(item, index) in $store.state.contacts' 
                v-bind:key="index"
                :contact = item></contacts-cards>
            </div>
        </div>
    </section>
</template>

<script>
import { ContactsService } from '@/core/services/contacts-service';

export default {
    components: {
        contactsCards: require('./contacts-cards.vue').default
    },
    data() {
        return {
            emptyContact: ContactsService.getEmptyContact()
        };
    }
};
</script>
