<template>
  <div id="app">
    <transition appear name="slide-fade" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
    name: 'App'
};
</script>
